    #filter_buttons {
        margin-top: 5px;
        margin-left: 15px;
    }
    
    #season_buttons, #activity_buttons, #traveler_buttons{
        margin-left: 30px;
        font-size: 11.5px;
    }
    
    #filter_container {
        /*overflow:scroll;*/
        height:230px;
        margin-right:0px;
    }
    
    #filter_results_container {
        overflow:scroll;
        height:220px;
        overflow-x: hidden;
    }
    
    #user_filter_list {
        font-size:11px;   
    }
    
    #recs_comp_container {
        height:220px;
    }
    
    #graph_container  {
        margin: 0px;
        height:165px;
    }
    
    #country_results_container  {
        margin: 0px;
        height:165px;
        background: #f5f5dc;
        outline: #4c4cff dotted;
        overflow:scroll;
        overflow-x: hidden;
    }
    
    #forecast_table  {
        margin:0;
        padding:0;
        font-size:11px;
        /*line-height: 11px;*/
      }
        
    .axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 10px;      }
    
body { font-size: 80%; font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; }
ul#tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
ul#tabs li { display: inline; }
ul#tabs li a { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; }
ul#tabs li a:hover { background-color: #f1f0ee; }
ul#tabs li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; }
div.tabContent { border: 1px solid #c9c3ba; padding: 0.5em; background-color: #f1f0ee; }
div.tabContent.hide { display: none; }


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		background-color: LightSteelBlue;
		font-weight: bold;
		}
		
		th.des:after {
      content: "\21E9";
    }
    
    th.aes:after {
      content: "\21E7";
    }
	
	


th:hover {
  background-color: #ffffcc;
  position: relative;
}

th[data-title]:hover:after {
  content: attr(data-title);
  padding: 4px 4px;
  color: #333;
  font-size: 11px;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0.74;
  /*white-space: nowrap;*/
  z-index: 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 2px #222;
  -webkit-box-shadow: 0px 0px 2px #222;
  box-shadow: 0px 0px 2px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #eeeeee));
  background-image: -webkit-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -moz-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -ms-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -o-linear-gradient(top, #eeeeee, #eeeeee); 
}

tr.cty {
    color: blue;
    text-decoration: underline;
}

td.title {
    color: blue;
    text-decoration: underline;
}




table.table.table-striped tr.graph_select td {
    background-color: LightSteelBlue;
	font-weight: bold;
}

table.table.table-striped tr.graph_unselect td {
    background-color: White;	
}

table.table.table-condensed.table-striped tr.desc   {
    background-color: White;	
}


input[type="button"],
	.button .remove {
		border-radius: 10px;
		border: 0;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-weight:100;
		height: 1.25em;
		line-height: 1.25em;
		padding: 0 1em;
	}

rect#click_rect {
    cursor: pointer;
}

text#click_rect {
    cursor: pointer;
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 180px;					
    height: 74px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.recs_table tr.desc{ 
	background: lightsteelblue;
}
	
.recs_table tr.cty{
	background: transparent;
}

 table tfoot tr#forecast_legend {
    background-color: darkgray;
    font-weight: bold;
	cursor: pointer;
	color:black
}

 table tfoot tr#forecast_legend:hover {
    background-color: lightgray;
    font-weight: bold;
	cursor: pointer;
}
